* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
button {
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
}

.logo {
  height: 50px;
  pointer-events: none;
}

/* -------------common------------- */
.container {
  width: 1170px;
  margin: 0 auto;
  padding-top: 8px;
  max-width: calc(100% - 48px);
}

a {
  text-decoration: none;
  color: #242424;
}

/* -----------header---------------- */
.header {
  --color_sgu: #b3d7f6;
  background-color: var(--color_sgu);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--color_sgu); */
}

.narbar__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-icon,
a {
  -webkit-user-drag: none;
  user-drag: none;
}

.font-input {
  width: 40rem;
  height: 34px;
  border-radius: 8px;
}

.narbar__item {
  margin: 0 0.8rem;
}

.narbar__link i {
  display: block;
  margin: 0 auto 8px;
}

.menu__dropdown {
  position: absolute;
  top: 60px;
  background-color: var(--color_sgu);
  border-end-start-radius: 15px;
  border-end-end-radius: 15px;
  /* border: 3px solid; */
  display: none;
  z-index: 1;
}

.menu__dropdown--list {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.menu a {
  display: inline-block;
  margin: 5px;
}

.menu__dropdown strong {
  font-weight: bold;
  color: black;
}

.submenu li:last-child a {
  color: blue;
}

.menu:hover .menu__dropdown {
  display: block;
}

.menu__dropdown--list a {
  transition: color 0.1s ease-in;
}

.menu__dropdown--list a:hover {
  color: rgb(188, 165, 34);
}

/* ---------navbar--------------- */

.narbar__list {
  position: relative;
  height: 50px;
}

.accout-form {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  padding: 10px 6px 6px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  background-color: var(--color_sgu);
  cursor: default;
  display: none;
  z-index: 1;
}

.btn {
  width: 100%;
  height: 37px;
  margin: 5px auto;
  border-radius: 10px;
  background-color: rgb(63, 63, 255);
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}

.acc:hover .accout-form {
  display: block;
}

.btn:hover {
  text-shadow: 1px 0 0 currentColor;
}

/* -----------search-bar------------ */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 10px;
}

.search-bar__form {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar__form input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 25px 0 0 25px;
  border-right: none;
}

.search-btn {
  padding: 5px 10px;
  border: 1px solid #fff;
  border-left: none;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
  background-color: #1367c1;
  color: white;
}

/* --------------hero--------------- */
.hero {
  width: 1170px;
  height: auto;
  margin: 10px auto 0;
  display: flex;
  overflow: hidden;
  /* position: relative; */
  gap: 10px;
}

.hero__slider {
  flex: 2;
  padding: 10px 0;
  overflow: hidden;
  position: relative;
}

.hero__slider--box {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.hero__slider img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 6px;
}

.hero__ad {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ad {
  height: 50%;
  padding: 10px;
}

.ad img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 6px;
}

.dot-container {
  position: absolute;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  top: calc(100% - 27px);
  left: 0;
  z-index: 1;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #a4a4a4;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.dot.active {
  background-color: #393939;
}

.hero__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  /* padding: 8px 12px; */
  border-radius: 50%;
  transition: background 0.3s;
  z-index: 5;
}

.hero__btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.hero__btn.prev {
  left: 10px;
}

.hero__btn.next {
  right: 10px;
}
